 :root{

  --cor-de-fundo:rgb(255, 255, 255);
  --cor-da-fonte: rgb(255,255,255);
  --cor-fonte-titulo:#ffffff; 
  --cor-de--fundo-cabecalho: var(--cor-de-fundo);

 }
body{
     background-color: #000;
     color: #fff;
      }

     



       
      .cabecalho_menu-hamburguer{
          width: 24px;
          height: 24px;
          display:inline-block ;
          background-image:url('imagen/Menu.vg') ;
          background-repeat: no-repeat;
          background-position: center;

      }

        .cabecalho{

        background-color: white;
        display:flex  ;
        justify-content: space-between ;
        color: #000000;
        font-size: 24px;
        justify-content: center;
     }
     .logo1{
      width: 20%;
     }

     .container{

        display: flex ;
        justify-content: space-between ;
        align-items: center;


     }
     --cor-de-fundo


     .container_image{

      padding:  lem;


     }

     @media screen and (min-width:1024px) {
      .cabecalho{
        font-size: 60px;
      }


     }







 