 :root{

  --cor-de-fundo:rgb(0, 0, 0);
  --cor-da-fonte: rgb(255,255,255);
  --cor-fonte-titulo:#ffffff; 
  --cor-de--fundo-cabecalho: var(--cor-de-fundo);

 }
body{
     background-color: rgb(255, 255, 255);
     height: 100vh ;
      }

      .texto{
             color: #ffffff;

      }



        h1{
            color: rgb(255,255,255) ;

        }
      .cabecalho_menu-hamburguer{
          width: 24px;
          height: 24p;
          display:inline-block ;
          background-image:url('imagen/Menu.vg') ;
          background-repeat: no-repeat;
          background-position: center;

      }

        .cabecalho{

        background-color: var(--branco);
        display:flex  ;
        justify-content: space-between ;
     }

     .container{

        display: flex ;
        justify-content: space-between ;
        align-items: center;


     }
     --cor-de-fundo


     .container_image{

      padding:  lem;


     }







 